* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

body {
    position: relative;
    background-color: rgb(80, 80, 114);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;

    
    
    
}

.slider {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    height: auto;
        

}

.slider-items {
    width: 400%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    display: -ms-flexbox;

    
}

.slider-items .slider-item {

    width: 25%;
    transition: 500ms ease;

}

.slider-items .slider-item img {
    max-width: 100%;
    height: auto;    

}

h4 {
    color: antiquewhite;
    /* font-family: Verdana, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
    font-size: medium; */

}

.slider-items input {
    position: absolute;
    visibility: hidden;

}

.navigation .slider-nav {
    width: 50px;
    height: 8px;
    border: 1px solid wheat;
    cursor: pointer;
    transition: 200ms;
    margin: 5px;
    display: block;


}

.navigation .slider-nav:hover {
    background-color: wheat;
}

.navigation .slider-nav:active {
    background-color: brown;
}


.navigation {
    position: absolute;
    bottom: 45px;
    left: 10px;
    width: 100%;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    justify-content: center;


}

#slider1:checked ~ .slider1 {
    margin-left: 0;
    transition: 500ms ease;
}

#slider2:checked ~ .slider1 {
    margin-left: -25%;
    transition: 500ms ease;

}

#slider3:checked ~ .slider1 {
    margin-left: -50%;
    transition: 500ms ease;

}

#slider4:checked ~ .slider1 {
    margin-left: -75%;    
    transition: 500ms ease;
}